.cover__link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 21%;
    padding-bottom: 21%;
    box-sizing: border-box;
    text-decoration: none;
}

.cover__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: .3;
    z-index: 1;
    transition: opacity 1s ease;
}

.cover__link:hover::before {
    opacity: .8;
}

@media screen and (max-width: 1279px) {
    .cover__link {
        width: calc(100% + 96px);
        margin-left: -48px;
        margin-right: -48px;
        padding-top: 21.5%;
        padding-bottom: 21.5%;
    }
}

@media screen and (max-width: 1023px) {
    .cover__link {
        width: calc(100% + 48px);
        margin-left: -24px;
        margin-right: -24px;
        padding-top: 17%;
        padding-bottom: 17%;
    }
}

@media screen and (max-width: 767px) {
    .cover__link {
        width: calc(100% + 32px);
        margin-left: -16px;
        margin-right: -16px;
    }
}
