.page__cover-margins {
    margin: 0 auto 92px;
}

@media screen and (max-width: 1279px) {
    .page__cover-margins {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 1023px) {
    .page__cover-margins {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .page__cover-margins {
        margin-bottom: 64px;
    }
}